p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/* Sidebar formating --------------------------------------------*/

div.sidebar {
  margin: 1em 0;
  padding-left: 1em;
}

/* .book .book-body .page-wrapper .page-inner section.normal is needed
   to override the styles produced by gitbook, which are ridiculously
   overspecified. Goal of the selectors is to ensure internal "margins"
   controlled only by padding of container */

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :last-child {
  margin-bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body p {
      font-family: 'Source Sans Pro', sans-serif;
}

body li {
      font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bree Serif', serif;
}

.chapter-nav .prev, .chapter-nav .next {
padding: 0.5rem;
border: none !important;
border-radius: 0.2rem;
box-shadow: none !important;
}



.header-section-number {
color: #44344F !important;
}



/* CSS */
.chapter-nav .prev, .chapter-nav .next {
 background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 5px 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}




.chapter-nav .prev:hover,
.chapter-nav .next:hover,
.chapter-nav .prev:focus,
.chapter-nav .next:focus {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.chapter-nav .prev:focus,
.chapter-nav .next:focus {
  border-color: #4285f4;
  outline: none;
}

.next > a > span:nth-child(1) {
  display: none !important;
}

.prev > a > span:nth-child(1) {
  display: none !important;
}

.section.level2 {
  border-bottom: 2px black !important;
}


.book-toc.list-unstyled li:not(.book-part):not(:first-child):not(:last-child) {
  padding-left: 10px;
}

.book-toc.list-unstyled li.book-part:not(:first-child) {
  font-weight: 600;
}

li.appendix span, li.part span { /* for TOC part names */
  margin-top: 1em;
  color: color: #1c3046 !important;
  opacity: 1 !important;
  text-transform: uppercase;
}

.card-menu {
  padding: 0 10px;
}

#outline > a:hover {
  text-decoration: none;
}


.card-menu:hover {
  background: #e2e2e2;
}


/* -----------Sidebar div tips------------- */
/* from r-pkgs.org*/

  div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    color: #000000;
    background-color: #F5F5F5;
  border-right: solid 5px #6D5A72;
  }

    div.warn {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    color: #ffffff;
    background-color: #D9594C;
  border-right: solid 5px #87271D;
  }


div.note {
  background-image: url("../static/note.svg");
}

div.fyi {
 background-image: url("../static/fyi.png");
}

div.warn {
  background-image: url("../static/warn.svg");
}


.no-border {
  border:none!important;
}
